.container {
  position: relative;
  height: 450px;
}
.container .abs {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;

  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  text-align: left;
  color: aliceblue;
  /* 根据图片取反色 */
  /* filter: invert(100%); */
}

.abs span:first-of-type {
  font-size: 40px;
}

.abs span:last-of-type {
  font-size: 20px;
}
